/*Images*/
img {
    display: block;
    width: 100%;
    height: auto;
}


/*Image Boxes*/
ul.img-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

ul.img-boxes li {
    display: block;
    margin: 0 auto;
    text-align: center;
    flex-basis: 100%;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;

}

ul.img-boxes li:hover {
    background: #FF8A1D;
}

ul.img-boxes li:hover > a.box-wrapper {
    color: #FFFFFF;
}

ul.img-boxes li:hover a.box-wrapper > .img-wrapper > img {
    filter: invert(94%) sepia(6%) saturate(22%) hue-rotate(181deg) brightness(105%) contrast(105%);
}

ul.img-boxes li a.box-wrapper {
    margin: 2em;
}

ul.img-boxes li .img-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    padding: 1em 0;
}

ul.img-boxes li .img-wrapper:before {
    display: block;
    content: '';
    padding-top: 90px;
}

ul.img-boxes li .img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 600px) {
    ul.img-boxes li {
        flex-basis: 31%;
    }
}