/*Feature Section*/
.feature-section .wrapper{
    padding-bottom: 0;
}

.feature-section ul.img-boxes li > a {
    color: #716CAE;
}

.feature-section ul.img-boxes li .img-wrapper:before {
    padding-top: 90px;
}

.feature-section ul.img-boxes li .box-wrapper > .img-wrapper > img  {
    width: 90px;
    filter: invert(45%) sepia(11%) saturate(1723%) hue-rotate(205deg) brightness(95%) contrast(91%);
}

.feature-section li p {
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0;
}


/*Professional Section*/
.professional-section{
    background: #D1E2FF;
}

.professional-section h2{
    color: #0355CC;
}

.professional-section .image{
    display: none;
}


/*Services Section*/
.services-section .wrapper{
    flex-direction: column;
}

.services-section ul.img-boxes li .box-wrapper{
    color: #000000;
}

.services-section ul.img-boxes li .img-wrapper:before {
    padding-top: 50px;
}


.services-section ul.img-boxes li .box-wrapper > .img-wrapper > img {
    filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(70deg) brightness(97%) contrast(108%);
    width: 50px;
}


/*Contact Section*/
.contacts-section .wrapper{
    align-items: start;
    padding-top: 0;
}

.contacts-section .wrapper div{
    width: 100%;
}
.contacts-section .wrapper div iframe{
    width: 100%;
    min-height: 22em;
    border: 1px solid blue;
}


.contacts-section form input,
.contacts-section form textarea {
    border: none;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em;
    width: 100%;
    margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
    .professional-section .wrapper div,
    .about-section .wrapper div{
        flex: 1 1 48%;
    }
    .professional-section .image{
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .feature-section ul {
        margin-top: -15em;
    }

    .contacts-section .wrapper h2{
        flex-basis: 100%;
    }

    .contacts-section .wrapper form,
    .contacts-section .wrapper div{
        flex-basis: 48%;

    }
}
