/*Feature Section*/
.feature-section .wrapper{
    padding-bottom: 0;
}

.feature-section ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
    width: 100%;
}

.feature-section li.feature-box {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    text-align: center;
    flex-basis: 100%;
    background: #FFFFFF;
}


.feature-section li.feature-box .img-wrapper {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 2em 1em;
    color: #716CAE;
    font-weight: 500;
    transition: all 0.3s;
}

.feature-section li.feature-box .img-wrapper:before {
    display: block;
    content: '';
    padding-top: 7em;
}

.feature-section li.feature-box .img-wrapper img {
    display: block;
    width: 6em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 1em;
    transform: translate(-50%, -50%);
    filter: invert(45%) sepia(11%) saturate(1723%) hue-rotate(205deg) brightness(95%) contrast(91%);
}


.feature-section li.feature-box .img-wrapper:hover {
    background: #FF8A1D;
    color: #FFFFFF;
}

.feature-section li.feature-box .img-wrapper:hover > img {
    filter: invert(94%) sepia(6%) saturate(22%) hue-rotate(181deg) brightness(105%) contrast(105%);
}

.feature-section li.feature-box p {
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {

    .feature-section li.feature-box {
        flex-basis: 32%;
    }

    .about-section .wrapper div{
        flex: 1 1 48%;
    }
}
@media screen and (min-width: 1023px) {
    .feature-section ul {
        margin-top: -15em;
    }
}
