@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 14px/1.5 Poppins, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body, input, textarea, option, select, table, form, button {
    font: inherit;
}



h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-weight: 700;

}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}


@media (min-width: 786px) {
    html {
        font-size: 16px
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4.4em;
    }
}


